.lazy-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner img {
  width: 100px; /* O'zingizga mos ravishda o'lchamni o'zgartiring */
  height: auto;
}

.inner-circle {
  position: absolute;
  border: 4px solid #ccc;
  border-top: 4px solid #000; /* Aylanish uchun rang */
  border-radius: 50%;
  width: 150px; /* O'zingizga mos ravishda o'lchamni o'zgartiring */
  height: 150px; /* O'zgartiring */
  animation: spin 1.5s linear infinite;
}

/* Aylanish animatsiyasi */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
