.faq {
  width: 100%;
  padding: 20px;

  margin-bottom: 80px;
  &_wrapper {
    max-width: 1250px;
    margin: auto;
  }
  .faq_title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  .faq_subtitle {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin: 20px 0;
    margin-bottom: 50px;
  }

  .faq_list {
    display: grid;
    gap: 15px;
  }

  .faq_card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;

    &.active {
      border-color: #1e90ff;
      background-color: #f9f9f9;
    }

    .faq_question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
    }

    .faq_icon {
      position: relative;
      width: 20px;
      height: 20px;

      .line {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #1e90ff;
        top: 50%;
        left: 0;
        transform-origin: center;
        transition: transform 0.3s ease;
      }

      .horizontal {
        transform: translateY(-50%);
      }

      .vertical {
        transform: translateY(-50%) rotate(90deg);
      }

      &.rotate .horizontal {
        transform: translateY(-50%) rotate(45deg);
      }

      &.rotate .vertical {
        transform: translateY(-50%) rotate(-45deg);
      }
    }

    .faq_answer {
      margin-top: 10px;
      font-size: 16px;
      color: #333;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.3s ease, opacity 0.3s ease;
    }

    &.active .faq_answer {
      max-height: 200px;
      opacity: 1;
    }
  }

  .faq_card:hover {
    background-color: #f1f1f1;
  }
}
