.faq {
  width: 100%;
  padding: 20px;
  margin-bottom: 80px;

  &_wrapper {
    max-width: 1250px;
    margin: auto;
  }

  .faq_title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  .faq_subtitle {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin: 20px 0;
    margin-bottom: 50px;
  }

  .faq_list {
    display: grid;
    gap: 20px;
  }

  .faq_card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden; /* Scrollning oldini oladi */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    &:hover {
      background-color: #f8f8f8;
    }

    .faq_question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      background-color: #fff;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f1f1f1;
      }

      .faq_icon {
        font-size: 24px;
        color: #1e90ff;
        transition: transform 0.3s ease;

        &.rotate {
          transform: rotate(45deg); /* "+"ni "x" ga aylantiradi */
        }
      }
    }

    .faq_answer {
      padding: 20px;
      font-size: 16px;
      line-height: 1.6;
      color: #333;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.3s ease;
      transform: translateY(-10px);

      &.show {
        max-height: 500px; /* Tarkib balandligiga moslashtirilgan maksimal balandlik */
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
